<h1>All Articles</h1>

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>

<br />
<h2>This blog was created following 
	<a href="http://tutorials.jumpstartlab.com/projects/blogger.html">JumpstartLab Tutoral</a>.
</h2>